body {
  margin: 0;
  padding: 0;
}

#crossword-container .row{
  margin-left: 0;
  margin-right: 0;
}


.scale-container {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

#grid-container {
  border: 1px solid #555;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

#grid-container .cell {
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  width: 10%;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  padding-top: 0px;
}

.shaded {
  background-color: black;
}

.cell-number {
  position: absolute;
  padding-top: 0.2%;
  padding-left: 0.3%;

  text-align: left;
  font-size: 0.3em;
}

.cell-letter {
  padding: 0;
  padding-top: 20%;
  margin: 0px 0px -100px 0px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  box-shadow: none;
  font-size: inherit;
  transition: none;
  text-align: center;
  cursor: default;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cell-letter:focus {
  outline: none;
  background-color: inherit;
  border: none;
  box-shadow: none;
  transition: none;
  outline-offset: 0px;
  color: transparent;
  text-shadow: 0 0 0 black;
}

.selectedCell {
  background-color: pink;
}


/*-------------*/
.clue-box {
  border: 1px solid #555;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 10px;
}

.selected-clues {
  background-color: lightblue;
  border-width: 3px;
}

.selected-clues .selected {
  background-color: yellow;
}

.clues {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;

  font-size: 0.9em;
}

.clues ul {
  margin-left: 0;
}

.clues li {
  list-style: none;
}
